<launch>
    <node pkg="mavros" type="px4_ACM0.launch" name="mavros_node" output="screen"/>

    <node pkg="livox_ros_driver2" type="msg_MID360.launch" name="livox_node" output="screen"/>

    <node pkg="fast_lio" type="mapping_mid360.launch" name="fast_lio_node" output="screen"/>

    <node pkg="lidar_to_mavros" type="lidar_to_mavros" name="lidar_to_mavros_node" output="screen"/>

    <node pkg="lidar_data" type="lidar_data_node" name="lidar_data_node" output="screen"/>

    <node pkg="offboard" type="offboard_node" name="offboard_node" output="screen"/>

    <node pkg="cv_detect" type="barcode_node.py" name="barcode_node" output="screen"/>
    <node pkg="cv_detect" type="blue_node.py" name="blue_node" output="screen"/>
    <node pkg="cv_detect" type="supersonic_node.py" name="supersonic_node" output="screen"/>
</launch>