<launch>
  <node name="px4_ACM0_launcher" pkg="roslaunch" type="roslaunch" args="$(find mavros)/launch/px4_ACM0.launch" launch-prefix="bash -c 'sleep 5; $0 $@'" />
  <node name="msg_MID360_launcher" pkg="roslaunch" type="roslaunch" args="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" launch-prefix="bash -c 'sleep 10; $0 $@'" />
  <node name="mapping_mid360_launcher" pkg="roslaunch" type="roslaunch" args="$(find fast_lio)/launch/mapping_mid360.launch" launch-prefix="bash -c 'sleep 15; $0 $@'" />

  <node pkg="ros_tools" type="lidar_to_mavros" name="lidar_to_mavros" />
  <node pkg="ros_tools" type="lidar_data_node" name="lidar_data_node" />
  <node pkg="ros_tools" type="ground_camara_node.py" name="ground_camara_node" />
  <node pkg="ros_tools" type="d435_node.py" name="d435_node" />

  <node pkg="cv_detect" type="box_node.py" name="box_node" />
  <node pkg="cv_detect" type="barcode_node.py" name="barcode_node" />

  <node pkg="offboard" type="offboard_node" name="offboard_node" output="screen" />
</launch>