<launch>
    <include file="$(find mavros)/launch/px4_ACM0.launch" />
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" />
    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />
    <node pkg="ros_tools" type="lidar_to_mavros" name="lidar_to_mavros" />
    <node pkg="ros_tools" type="lidar_data_node" name="lidar_data_node" />
    <node pkg="ros_tools" type="ground_camera_node.py" name="ground_camera_node" />
    <node pkg="ros_tools" type="d435_node.py" name="d435_node" />
    <node pkg="vision" type="box_detect.py" name="box_detect" />
    <node pkg="vision" type="barcode_scanner.py" name="barcode_scanner" />
    <node pkg="vision" type="led.py" name="led" />
    <node pkg="vision" type="steering_engine.py" name="steering_engine" />
    <node pkg="screen" type="screen.py" name="screen" />
    <node pkg="offboard" type="offboard_node" name="offboard_node" output="screen" />
</launch>
