<launch>
    <node pkg="ros_tools" type="pose_data_node" name="pose_data_node" />
    <node pkg="vision" type="box_detect.py" name="box_detect" />
    <node pkg="vision" type="barcode_scanner.py" name="barcode_scanner" />
    <node pkg="vision" type="region" name="region" />
    <node pkg="screen" type="screen.py" name="screen" />
    <node pkg="offboard" type="offboard_node" name="offboard_node" output="screen" />
</launch>
